.hero {
    padding-top: 64px;
    padding-bottom: 100px;
    background-image: url(../images/hero-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .container {
        position: relative;
    }

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .7;
        content: ' ';
    }

    &__text {
        margin-top: 36px;
        margin-bottom: 20px;
        color: white;
        font-weight: 800;
        font-size: 32px;
        line-height: 56px;
        text-align: center;
    }

    &__logo {
        margin: 0 auto;
        display: block;
        height: 150px;
    }

    &__button {
        color: white;
        margin: 0 auto;
        display: block;
        background-color: transparent;
        border-radius: 5%;
        padding: 10px 15px;
        border: 1 solid white;

        &:hover {
            color: black;
            background-color: white;
            transition: 1000ms;
            cursor: pointer;
        }

    }

    @media (max-width: 1024px) {
        &__logo {
            height: 100px;
        }

        &__text {
            font-size: 24px;
            line-height: 28px;
            margin-top: 24px;
            margin-bottom: 40px;
        }
    }

    @media (max-width: 640px) {
        &__logo {
            height: 80px;
        }

        &__text {
            font-size: 18px;
            line-height: 22px;
            margin-top: 18px;
            margin-bottom: 32px;
        }
    }

    


}