.sections {
    background-image: linear-gradient(186deg, #000000, #525151);
    .section {
        padding-top: 54px;
        padding-bottom: 54px;
    
        .container {
            display: flex;
        }
    
        &__image {
            width: 360px;
        }
    
        &__item__left {
            color: white;
            margin-right: 40px;
            display: block;
    
            &__title {
                margin: 0 0 15 0;
                font-size: 18px;
                font-weight: 800;
            }
    
            &__text {
                font-size: 16px;
                line-height: 22px;
            }
        }

        &__item__right {
            color: white;
            margin-left: 40px;
            display: block;
    
            &__title {
                margin: 0 0 15 0;
                font-size: 18px;
                font-weight: 800;
            }
    
            &__text {
                font-size: 16px;
                line-height: 22px;
            }
        }
    
    }
}